
h3{
    font-size: x-large;
}
.input{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 20px auto 20px auto;
}
.input input{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    border: 0;
    border-bottom: 1px solid #eee;

}
.input input:focus{
    outline: none;
}
button{
    margin-left: auto;
    margin-right: auto;
    
    background-color: #1053A7;
    border-radius: 10px;
    box-shadow: 0px 3px 5px #ccc;
    color: #fff;
    width: 25%;
    height: 40px;
}
button:hover{
    background-color: #588dce;
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    button{
        width: 70%;

    }
}
